basic-chair/* linguist-vendored
chrysler-300/* linguist-vendored
cube/* linguist-vendored
cylinder/* linguist-vendored
LmvDbg/* linguist-vendored
logo/* linguist-vendored
view-and-data-npm/* linguist-vendored